@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{ font-family: "Oswald", sans-serif;
background-color: #ece9e9;}

.container{ 
 width: 100%;
 max-width: 1200px;
 margin: 0 auto;
}

.tittle{

    text-align: center;
    text-shadow: 0px 0px 5px color#333;
}
.heading{
padding: 20px 0 5px;
font-size: 40px;
font-weight: 900px;
color: #444;
}
.graph{

    font-size: 20px;
    margin-bottom: 20px;
    
}
.mother{ 

   display: flex;
   flex-wrap: wrap;
    
}

.flexbox{ 

    width: 25%;
    padding: 20px;
    
}

.imagebox {
    background-color: #20222145;
    padding: 30px;
    background-blend-mode: multiply;
    min-height: 300px;
    border-radius: 15px;
    background-size:cover;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    color: #f7f4f4c5;
    box-shadow: 0px 0px 3px 0px #353535;
    background-position: center;
    background-repeat: no-repeat;
    

}

.image_1{

    background-image: url(../images/goashape-studio-RvyJGaoaWrs-unsplash.jpg);


}
    
.image_2{

    background-image: url(../images/irene-kredenets-KStSiM1UvPw-unsplash.jpg);


}
.image_3{

    background-image: url(../images/kiran-ck-LSNJ-pltdu8-unsplash.jpg);


}
.image_4{

    background-image: url(../images/ruslan-bardash-4kTbAMRAHtQ-unsplash.jpg);


}



.column_1_3{

    width: 33.33%;
    padding: 15px;
}

.column_2_3{

    width: 66.66%;
    
}

.column_2_2{

    width: 100%; 
    padding: 15px;
    
}
.column_1_2{

    width: 50%;
    padding: 15px;
   
}



.box_1 {
    background-image: url(../images/bottle.jpg);
    background-color: #abacad;
    padding: 30px;
    background-blend-mode: multiply;
    min-height: 635px;
    border-radius: 15px;
    background-size: cover;
    background-position-x: center;
    display: flex;
    align-items: flex-end;
    color: #cecbcbee;
    box-shadow: 0px 0px 3px 0px #353535;
    background-position: center;
    background-repeat: no-repeat;
}
.box_2 {
    background-image: url(../images/headphone.jpg);
    background-color: #c1a53070;
    padding: 30px;
    background-blend-mode: multiply;
    min-height: 300px;
    border-radius: 15px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: #cecbcbee;
    box-shadow: 0px 0px 3px 0px #353535;
    background-position: center;
    background-repeat: no-repeat;
}

.box_3 {
    background-image: url(../images/packet.jpg);
    background-color: #8f908c;
    padding: 30px;
    background-blend-mode: multiply;
    min-height: 300px;
    border-radius: 15px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: #cecbcbee;
    box-shadow: 0px 0px 3px 0px #353535;
    background-position: center;
    background-repeat: no-repeat;
}

.box_4 {
    background-image: url(../images/minibottle.jpg);
    background-color: #00000069;
    padding: 30px;
    background-blend-mode: multiply;
    min-height: 300px;
    border-radius: 15px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: #cecbcbee;
    box-shadow: 0px 0px 3px 0px #353535;
    background-position: center;
    background-repeat: no-repeat;
}

